<div class=" text-center" style="margin-bottom: 0">
  <h1><i>GROCERY WEBPAGE
  </i></h1>
</div>


<section id="top">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Egrocery</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home" routerLinkActive="active"
          >Home <span class="sr-only"></span
        ></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active"
          >About Us</a
        >
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active"
          >contactus
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active"
          >login
        </a>

      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/productinfo" routerLinkActive="active"
          >productinfo
        </a>

      </li>
      

     
      <li class="nav-item">
        <a class="nav-link" routerLink="/app-addcart" routerLinkActive="active"
          >addcart</a
        >
      </li>
    </ul>
  </div>
</nav>
</section>


<router-outlet></router-outlet>
