
<section>
  <div class="container text-center">
    <div class="title">
      <p>Our Available Products</p>
      <h1><span>Best</span> Seller</h1>
    </div>
    <div class="row">
      <div class="col-md-3" *ngFor="let prod of products">
        <div class="product-image">
          <img src="assets\Products_Images\{{ prod.product_img }}" alt="P1" />
        </div>
        <div class="content">
          <h4>RS {{ prod.product_Price }}</h4>
          <!-- <button type="button" class="btn" (click)="inc(prod)">
            <i class="fa fa-plus"></i>
          </button>
          <a href=""> {{ prod.product_Name }} </a><br /><br />
          <span>{{ prod.qnt }}</span>
          <button type="button" class="btn" (click)="dec(prod)">
            <i class="fa fa-minus"></i>
          </button> -->
        </div>
        <form >
          <button type="submit" class="cart_btn" (click)="addCart(prod)">
            Add To Cart
            
          </button>
        </form>
      </div>
    </div>
  </div>
</section>

