<body>
  <h1>Add a Product Information</h1>

  <div class="container">
    <form #simpleForm="ngForm" (ngSubmit)="getValues(simpleForm.value)">
      <label for="productname"> Product Name</label>
      <input
        type="text"
        id="name"
        [(ngModel)]="productDetails.product_Name"
        name="productname"
        placeholder="product name"
      />

      <label for="productcategory"> Product Category</label>
      <input
        type="text"
        id="category"
        [(ngModel)]="productDetails.product_Category"
        name="productcategory"
        placeholder="product category"
      />

      <label for="Price">Price</label>
      <input
        type="text"
        id="Price"
        [(ngModel)]="productDetails.product_Price"
        name="Product price"
        placeholder="Product price"
      />

      <label for="product description">Product Description</label>
      <textarea
        id="subject"
        [(ngModel)]="productDetails.product_Description"
        name="subject"
        placeholder="About Product"
        style="height: 200px"
      ></textarea>

      <label for="Seller">Seller</label>
      <input
        type="text"
        id="Seller"
        name="Seller "
        placeholder="Seller Name"
      />

      <label for="Review">Review</label>
      <input
        type="text"
        id="Seller"
        [(ngModel)]="productDetails.product_Review"
        name="Review "
        placeholder="Review"
      />

      <form >
        <label for="img">Browse image:</label>
        <input
          type="file"
          id="yourFileInput"
          [(ngModel)]="productDetails.product_img"
          
          >
          <img [src]="url">
        
      </form>

      <p><strong>Note:</strong> please check image before adding</p>
      <br /><br />

      <input type="submit" (click)="addProduct()" value="Submit" />
    </form>
  </div>


</body>
