


<table class="table table-hover table-warning">
    <thead>
      <tr>
        <th scope="col">Product ID</th>
        <th scope="col">Name</th>
        <th scope="col">category</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prod of products">
        <td>{{ prod.product_Id }}</td>
        <td>{{ prod.product_Name }}</td>
        <td>{{ prod.product_Category }}</td>

        <button
          type="submit"
          routerLink="/productupdate/{{ prod.product_Id }}"
          class="edit">
          EDIT
        </button>
    
        <button type="submit" (click)="deleteEmployee(prod.product_Id)" class="delete">
            DELETE
          </button>
     
      </tr>
    </tbody>
  </table>



  
    